# Python
__pycache__/
*.py[cod]


# Environments
.venv/


# Jupyter Notebook
.ipynb_checkpoints


# IDE
.idea/


# Large data
data/


# Experiments
Playground/


# Docker volumes
data_pgadmin/
ny_taxi_db/


# ClickHOuse certificate
CA.pem


.env
